<%- include('layout-top') %><h1>Kunden</h1><table><tr><th>Name</th><th>E-Mail</th><th>Ort</th><th>Gelieferte Bestellungen</th><th>Premium</th></tr><% customers.forEach(c=>{ %><tr><td><%= c.full_name %></td><td><%= c.email %></td><td><%= c.city %></td><td><%= c.delivered_order_count %></td><td><%= c.premium ? 'Ja' : 'Nein' %></td></tr><% }) %></table><%- include('layout-bottom') %>
